.home{
    background-image: linear-gradient(to top, rgb(118, 75, 162) 0%, rgb(102, 126, 234) 100%);
    min-height: 100vh;
}
.header{
    color: white;
    font-weight: 600;
}
.box{
        height: max-content;
        min-height: 100px;
        width: 350px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        border: 2px solid #7d7d7d; 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;      
}
.planned {
    background-color: #fef2e7;
  }
  .progress {
    background-color: #fffada;
  }
  .done {
    background-color: #f5ffe5;
  }
  .item{
    border-radius: 5px;
    background-color: #fafdff;
    height: 35px;
    width: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }
  .title{
      color: orange;
      text-align: center;
  }
  .item h6 {
    margin-bottom: 0.2rem;
    width: 190px;
    max-width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .item p {
    margin-bottom: 0.2rem;
    width: 190px;
    max-width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .strikeoff h6 {
    text-decoration: line-through;
  }
  /* LOW - GREEN, MEDIUM - ORANGE, HIGH - RED */
  .LOW{
    background-color: green;
    color: white;
  }
  .MEDIUM{
    background-color: orange;
    color: white;
  }
  .HIGH{
    background-color: red;
    color: white;
  }
  /* .task-name{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .task-name h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 28px;
    padding-right: 0px;
  }
  .icon{
    margin: 0px 10%;
  } */
  @media only screen and (max-width: 420px) {
    .box{
      width: 340px;
    }
    .item{
      max-width: 300px;
    }
  }
  @media only screen and (max-width: 320px) {
    .box{
      width: 280px;
    }
    .item{
      max-width: 250px;
    }
  }